.app-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  height: 84vh;
  padding: 35px;
  background-color: #d3c4fc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}

